.additional-info p {
  font-family: Clear-sans, sans-serif;
  font-size: 16px;
  line-height: 1.1;
  color: #3a4047;
}

.news h2, .products h2, .about-us h2 {
  font-family: Clear-sans;
  font-size: 36px;
  line-height: 1.2;
  color: #3a4047;
}

@font-face {
  font-family: Clear-Sans;
  src: url(../fonts/ClearSans.eot);
  src: url(../fonts/ClearSans.woff);
  src: url(../fonts/ClearSans.ttf);
}

body {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
p,
ul {
  margin: 0;
  padding: 0;
}

a {
  display: inline-block;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

button {
  padding: 0;
  margin: 0;
  border: none;
  background: transparent;
}

.information {
  padding: 15px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

@media screen and (min-width: 480px) {
  .information {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .information {
    width: 768px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
  }
}

@media screen and (min-width: 1200px) {
  .information {
    width: 100%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media screen and (min-width: 1920px) {
  .information {
    padding-right: 375px;
    padding-left: 375px;
  }
}

@media screen and (max-width: 1199px) {
  .additional-info {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .additional-info {
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

.additional-info p {
  display: none;
}

@media screen and (max-width: 767px) {
  .additional-info p {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .additional-info p {
    display: block;
    margin-bottom: 11px;
    width: 375px;
  }
}

@media screen and (min-width: 768px) {
  .additional-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .working {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .working {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.user {
  color: #3a4047;
  margin-right: 20px;
}

.email {
  color: #3a4047;
}

.hidden-contacs {
  display: none;
}

.is-open {
  display: block;
}

.contacts {
  display: none;
}

@media screen and (min-width: 768px) {
  .contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .contacts svg {
    margin-right: 15px;
  }
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.basket {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.basket div {
  display: block;
  width: 50px;
  height: 4px;
  background-color: #1ab0ce;
  border-radius: 2px;
}

.basket div:not(:last-child) {
  margin-bottom: 7px;
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

.hidden-contacs {
  display: none;
}

.hidden-contacs img {
  display: inline-block;
  margin-right: 5px;
}

.hidden-contacs li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hidden-contacs li:not(:last-child) {
  margin-bottom: 13px;
}

.hidden-contacs.is-open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 220px;
  position: absolute;
  top: 110%;
  background-color: #ffffff;
  z-index: 10;
  padding: 30px;
}

.open-contacts {
  margin-left: 4px;
  background: #ffffff;
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  width: 20px;
  height: 20px;
  outline: none;
  cursor: pointer;
}

.open-contacts.is-open {
  -webkit-transform: matrix(0, 1, 1, 0, 0, 0);
          transform: matrix(0, 1, 1, 0, 0, 0);
}

@media screen and (max-width: 767px) {
  .menu {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .menu {
    width: 768px;
    margin-left: auto;
    margin-right: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

@media screen and (min-width: 1200px) {
  .menu {
    width: 100%;
  }
}

@media screen and (min-width: 1920px) {
  .menu {
    padding-right: 375px;
    padding-left: 375px;
  }
}

.menu nav {
  width: 100%;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 16px;
  line-height: 1.2;
  text-transform: uppercase;
}

.navigation a {
  color: #3a4047;
  position: relative;
  line-height: 1;
}

.navigation a:hover, .navigation a:focus {
  color: #1ab0ce;
}

.menu-link::before {
  content: "";
  display: block;
  position: absolute;
  top: -17px;
  left: 0;
  width: 0;
  height: 1px;
  background-color: #1ab0ce;
  -webkit-transition: width 0.3s cubic-bezier(0.17, 0.67, 0.83, 0.67);
  transition: width 0.3s cubic-bezier(0.17, 0.67, 0.83, 0.67);
}

.menu-link:hover::before,
.menu-link:focus::before {
  width: 100%;
}

.main-banner {
  height: 500px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../img/main-banner.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  padding-top: 157px;
  color: #ffffff;
}

.main-banner h1 {
  margin-bottom: 10px;
  font-size: 30px;
  line-height: 1.2;
  position: relative;
}

@media screen and (min-width: 768px) {
  .main-banner h1 {
    font-size: 40px;
  }
}

@media screen and (min-width: 1200px) {
  .main-banner h1 {
    font-size: 57px;
  }
}

.main-banner p {
  font-size: 14px;
  line-height: 1.2;
  margin-top: 15px;
}

@media screen and (min-width: 768px) {
  .main-banner p {
    font-size: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .main-banner p {
    font-size: 24px;
  }
}

@media screen and (min-width: 480px) {
  .main-banner {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .main-banner {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .main-banner {
    width: 100%;
  }
}

@media screen and (min-width: 1920px) {
  .main-banner {
    padding-right: 375px;
    padding-left: 375px;
  }
}

h1::after {
  content: "";
  display: block;
  width: 120px;
  height: 2px;
  background-color: #ffffff;
  position: absolute;
  bottom: -10px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

.to-order {
  display: inline-block;
  padding: 12px 22px;
  margin-top: 27px;
  font-family: Clear-sans;
  font-size: 16px;
  line-height: 1.2;
  background-color: #1ab0ce;
  color: #ffffff;
}

.callback-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 108px;
  height: 108px;
  background-color: #1ab0ce;
  font-size: 14px;
  font-family: Clear-sans;
  line-height: 1.1;
  border-radius: 50%;
}

.callback {
  position: fixed;
  right: 10%;
  bottom: 15%;
}

@media screen and (max-width: 479px) {
  .callback {
    right: 5%;
    bottom: 3%;
  }
}

.news {
  margin-left: auto;
  margin-right: auto;
}

.news h2 {
  text-align: center;
  margin-top: 32px;
  margin-bottom: 50px;
}

@media screen and (min-width: 480px) {
  .news {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .news {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .news {
    width: 100%;
  }
}

@media screen and (min-width: 1920px) {
  .news {
    padding-right: 375px;
    padding-left: 375px;
  }
}

.news-item {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .news-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 768px) and (min-width: 1200px) {
  .news-item {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 768px) {
  .news-item li {
    width: calc((100% - 3 * 16px) / 3);
    height: 170px;
    margin: 8px;
  }
  .news-item li:hover, .news-item li:focus {
    -webkit-box-shadow: 0px -1px 0px #1ab0ce, 0px 14px 24px rgba(0, 0, 0, 0.05);
            box-shadow: 0px -1px 0px #1ab0ce, 0px 14px 24px rgba(0, 0, 0, 0.05);
    color: #1ab0ce;
  }
}

.news-item a {
  display: block;
  padding: 29px 15px;
}

.news-item a:hover .news-info {
  color: #1ab0ce;
  text-decoration: underline;
}

.news-info {
  color: #3a4047;
}

.date {
  font-size: 14px;
  line-height: 1.1;
  color: #bec7d1;
  margin-bottom: 15px;
  text-align: center;
}

.watch-all {
  margin-top: 51px;
  margin-bottom: 49px;
  display: inline-block;
  padding: 6px 21px 9px 21px;
  text-align: center;
  color: #1ab0ce;
  border: 1px solid #1ab0ce;
}

.watch-link {
  text-align: center;
}

.products {
  padding-top: 29px;
  font-family: Clear-sans;
  margin-left: auto;
  margin-right: auto;
}

.products h2 {
  text-align: center;
  margin-bottom: 44px;
}

@media screen and (min-width: 480px) {
  .products {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .products {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .products {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (min-width: 1920px) {
  .products {
    padding-right: 375px;
    padding-left: 375px;
  }
}

.product-item {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .product-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .product-item {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.product-item .first-item {
  margin: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #ffffff;
  border: 1px solid #dce1e6;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);
  padding: 25px;
  color: #3a4047;
  font-size: 14px;
  line-height: 1.1;
}

@media screen and (max-width: 479px) {
  .product-item .first-item {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media screen and (min-width: 768px) {
  .product-item .first-item {
    width: calc((100% - 6 * 15px) / 2);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media screen and (min-width: 1200px) {
  .product-item .first-item {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.first-item > img {
  margin-right: 38px;
}

.first-item h3 {
  margin-bottom: 24px;
  text-align: center;
}

.product-list > li:not(:last-child) {
  margin-bottom: 10px;
}

.second-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.second-item li:not(:last-child) {
  margin-right: 20px;
}

.about-us {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  color: #3a4047;
  border-bottom: 1px solid #e8edf2;
}

@media screen and (min-width: 480px) {
  .about-us {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .about-us {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .about-us {
    width: 100%;
  }
}

@media screen and (min-width: 1920px) {
  .about-us {
    padding-right: 375px;
    padding-left: 375px;
  }
}

.about-us h2 {
  text-align: center;
  margin-top: 32px;
  margin-bottom: 13px;
}

.about-us h3 {
  text-align: center;
  margin-bottom: 34px;
  font-size: 24px;
  line-height: 1.2;
}

.about-us p {
  text-align: justify;
}

.about-us p:last-child {
  margin-bottom: 32px;
}

.footer {
  background-color: #f7f7f7;
  -webkit-box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.05);
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #3a4047;
  font-family: Clear-sans;
}

@media screen and (min-width: 480px) {
  .footer {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .footer {
    width: 768px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .footer {
    width: 100%;
  }
}

@media screen and (min-width: 1920px) {
  .footer {
    padding-right: 375px;
    padding-left: 375px;
  }
}

.footer-text {
  display: none;
  font-family: Roboto;
  font-size: 14px;
  line-height: 1.5;
}

.footer-text p:first-child {
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .footer-text {
    display: block;
    width: 261px;
  }
  .footer-text p:first-child {
    margin-bottom: 10px;
  }
}

.footer-list {
  display: none;
}

@media screen and (min-width: 768px) {
  .footer-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer-list li:not(:last-child) {
  margin-bottom: 11px;
}

.footer-menu {
  color: #3a4047;
  text-decoration: underline;
  font-family: Roboto;
  font-size: 14px;
  line-height: 1.5;
}

.footer-contacts svg {
  margin-right: 10px;
  margin-top: 11px;
}

.footer-contacts svg:not(:last-child) {
  margin-right: 20px;
}

.contacts-item {
  margin-bottom: 20px;
}

.third-link {
  color: #3a4047;
  display: block;
  text-align: center;
  margin-bottom: 30px;
  text-decoration: underline;
  font-size: 14px;
  line-height: 1.5;
}

.web-development {
  font-family: Cuprum;
  text-align: center;
  line-height: 1.2;
  font-size: 11px;
  text-transform: uppercase;
}

.web-development img {
  margin-right: 5px;
}
/*# sourceMappingURL=main.css.map */