@font-face {
  font-family: Clear-Sans;
  src: url(./fonts/clearsans.ttf);
}

a {
  display: block;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

p,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}

button {
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
}

.info-about-company {
  font-family: Clear-Sans, sans-serif;
  width: 1920px;
  background: #ffffff;
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
}

.information {
  padding-left: 376px;
  padding-right: 376px;
  padding-top: 17px;
  padding-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo-link {
  display: block;
  margin-right: 64px;
}

.additional-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #3a4047;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 755px;
}

.additional-info p {
  width: 375px;
  margin-bottom: 11px;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
}

.additional-info a {
  margin-top: 8px;
  margin-left: 30px;
  font-size: 14px;
  line-height: 1.1;
  color: #3a4047;
  text-decoration: underline;
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social svg:first-child {
  margin-right: 21px;
}

.social p {
  margin-left: 9px;
  font-size: 16px;
  line-height: 1.2;
  color: #3a4047;
}

.open-contacts {
  margin-left: 6px;
  background: #ffffff;
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
}

.user {
  margin-left: 50px;
}

.card {
  margin-left: 19px;
}

.menu {
  width: 1920px;
  padding-top: 17px;
  padding-bottom: 17px;
  padding-left: 375px;
  padding-right: 375px;
  font-family: Clear-Sans;
  font-size: 16px;
  line-height: 1.2;
  text-transform: uppercase;
  color: #3a4047;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navigation {
  width: 1100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navigation a {
  color: #3a4047;
  position: relative;
  line-height: 1;
}

.navigation a:hover, .navigation a:focus {
  color: #1ab0ce;
}

.menu-link::before {
  content: "";
  display: block;
  position: absolute;
  top: -17px;
  left: 0;
  width: 0;
  height: 1px;
  background-color: #1ab0ce;
  -webkit-transition: width 0.3s cubic-bezier(0.17, 0.67, 0.83, 0.67);
  transition: width 0.3s cubic-bezier(0.17, 0.67, 0.83, 0.67);
}

.menu-link:hover::before,
.menu-link:focus::before {
  width: 100%;
}

.search {
  margin-left: 58px;
}
/*# sourceMappingURL=main.css.map */