.footer {
  background-color: #f7f7f7;
  box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.05);
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: $primary-text-color;
  font-family: $main-font;
  @media screen and(min-width: 480px) {
    width: 480px;
  }
  @media screen and(min-width: 768px) {
    width: 768px;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 15px;
    padding-left: 15px;
  }
  @media screen and(min-width: 1200px) {
    width: 100%;
  }
  @media screen and(min-width: 1920px) {
    padding-right: 375px;
    padding-left: 375px;
  }
}
//.footer-logo {
//  margin-bottom: 30px;
//  margin-right: 42px;
//}
.footer-text {
  display: none;
  font-family: Roboto;
  font-size: 14px;
  line-height: 1.5;
  p:first-child {
    margin-bottom: 30px;
  }
  @media screen and(min-width: 1200px) {
    display: block;
    width: 261px;
    p:first-child {
      margin-bottom: 10px;
    }
  }
}
.footer-list {
  display: none;
  @media screen and(min-width: 768px) {
    display: flex;
    flex-direction: column;
  }
  li:not(:last-child) {
    margin-bottom: 11px;
  }
  //  margin-top: 11px;
  //  margin-right: 60px;
}
.footer-menu {
  color: $primary-text-color;
  text-decoration: underline;
  font-family: Roboto;
  font-size: 14px;
  line-height: 1.5;
}
.footer-contacts svg {
  margin-right: 10px;
  margin-top: 11px;
  &:not(:last-child) {
    margin-right: 20px;
  }
}
.contacts-item {
  margin-bottom: 20px;
}
.third-link {
  color: $primary-text-color;
  display: block;
  text-align: center;
  margin-bottom: 30px;
  text-decoration: underline;
  font-size: 14px;
  line-height: 1.5;
}
.web-development {
  font-family: Cuprum;
  text-align: center;
  line-height: 1.2;
  font-size: 11px;
  text-transform: uppercase;
  img {
    margin-right: 5px;
  }
}
