@font-face {
  font-family: Clear-Sans;
  src: url(../fonts/ClearSans.eot);
  src: url(../fonts/ClearSans.woff);
  src: url(../fonts/ClearSans.ttf);
}
body {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
p,
ul {
  margin: 0;
  padding: 0;
}
a {
  display: inline-block;
  text-decoration: none;
}
ul {
  list-style-type: none;
}
button {
  padding: 0;
  margin: 0;
  border: none;
  background: transparent;
}
