.news {
  @extend %container;
  h2 {
    @extend %headling;
    text-align: center;
    margin-top: 32px;
    margin-bottom: 50px;
  }
}

.news-item {
  display: flex;
  margin: -8px;
  li {
    width: calc((100% - 3 * 16px) / 3);
    height: 170px;
    padding: 29px 15px;
    margin: 8px;
    &:hover,
    &:focus {
      box-shadow: 0px -1px 0px #1ab0ce, 0px 14px 24px rgba(0, 0, 0, 0.05);
      color: $accent-color;
    }
  }
}
.news-info {
  color: $primary-text-color;
  &:hover,
  &:focus {
    color: $accent-color;
    text-decoration: underline;
  }
}
.date {
  font-size: 14px;
  line-height: 1.1;
  color: #bec7d1;
  margin-bottom: 15px;
  text-align: center;
}
.watch-all {
  margin-top: 51px;
  margin-bottom: 49px;
  display: inline-block;
  padding: 6px 21px 9px 21px;
  text-align: center;
  color: $accent-color;
  border: 1px solid $accent-color;
}
.watch-link {
  text-align: center;
}
