.news {
  margin-left: auto;
  margin-right: auto;
  h2 {
    @extend %headling;
    text-align: center;
    margin-top: 32px;
    margin-bottom: 50px;
  }
  @media screen and(min-width: 480px) {
    width: 480px;
  }
  @media screen and(min-width: 768px) {
    width: 768px;
  }
  @media screen and(min-width: 1200px) {
    width: 100%;
  }
  @media screen and(min-width: 1920px) {
    padding-right: 375px;
    padding-left: 375px;
  }
}

.news-item {
  width: 100%;
  @media screen and(min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    @media screen and(min-width: 1200px) {
      width: 100%;
      justify-content: center;
    }
    li {
      width: calc((100% - 3 * 16px) / 3);
      height: 170px;
      margin: 8px;
      &:hover,
      &:focus {
        box-shadow: 0px -1px 0px #1ab0ce, 0px 14px 24px rgba(0, 0, 0, 0.05);
        color: $accent-color;
      }
    }
  }
  a {
    display: block;
    padding: 29px 15px;
    &:hover .news-info {
      color: $accent-color;
      text-decoration: underline;
    }
  }
}
.news-info {
  color: $primary-text-color;
}
.date {
  font-size: 14px;
  line-height: 1.1;
  color: #bec7d1;
  margin-bottom: 15px;
  text-align: center;
}
.watch-all {
  margin-top: 51px;
  margin-bottom: 49px;
  display: inline-block;
  padding: 6px 21px 9px 21px;
  text-align: center;
  color: $accent-color;
  border: 1px solid $accent-color;
}
.watch-link {
  text-align: center;
}
