.menu {
  @media screen and(max-width: 767px) {
    display: none;
  }
  @media screen and(min-width: 768px) {
    width: 768px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 16px;
    padding-bottom: 16px;
  }
  @media screen and(min-width: 1200px) {
    width: 100%;
  }
  @media screen and(min-width: 1920px) {
    padding-right: 375px;
    padding-left: 375px;
  }
  nav {
    width: 100%;
  }
}
.navigation {
  display: flex;
  justify-content: space-around;
  font-family: $main-font;
  font-size: 16px;
  line-height: 1.2;
  text-transform: uppercase;
  a {
    color: $primary-text-color;
    position: relative;
    line-height: 1;
    &:hover,
    &:focus {
      color: $accent-color;
    }
  }
}
.menu-link::before {
  content: "";
  display: block;
  position: absolute;
  top: -17px;
  left: 0;
  width: 0;
  height: 1px;
  background-color: $accent-color;
  transition: width 0.3s cubic-bezier(0.17, 0.67, 0.83, 0.67);
}
.menu-link:hover::before,
.menu-link:focus::before {
  width: 100%;
}
